
#teamCard{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 100px 0px 10px 0px;
    gap: 20px;

}

#team{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

#team h2{
    font-size: 11px;
}
#team h3{
    font-size: 14px;
}

#img{
    width: 300px;
    height: 200px;
}

#social{
    display: flex;
    gap: 20px;
}
